body {
    font-family: 'Nunito', sans-serif;
}

img {
    width: 26px;
}

.container_2 {
    max-width: 650px;
}

.container_1 {
    display: flex;
    justify-content: center;
    margin: 37px 0 0 0;

}

.pergunta {
    display: flex;
    align-items: center;
    margin: 0 0 17px 0;
}

.txtpergunta {
    margin: 0 0 0 28px;
    width: 500px;
}


.resposta {
    display: none;
    margin: 0 0 0 48px;
}

.divresposta {
    margin: 18px 0 23px 0;
    max-width: 630px;
}

button {
    margin: 0 18px 0 94px;
    /* margin: 0 0 0 273px; */
    background: #FFFFFF;
    border: none;
}

hr {
    width: 640px;
    color: #7c7c7c;
}

@media (max-width: 650px) {
    .container_2 {
        max-width: 400px;
    }

    button {
        margin: auto;
    }

    .imgponto {
        margin: 0 0 0 25px;
    }

    .divresposta {
        max-width: 366px;
    }

    .txtpergunta {

        margin: 0px 26px 0px 13px;

    }

    .resposta {
        margin: 0 0 0 63px;
    }

    hr {
        max-width: 400px;
    }

}

/* @media (max-width: 361px) {
    .container_2 {
        max-width: 500px;
    }

    hr {
        width: 520px;
    }

    button {
        margin: auto;
    }
    .txtpergunta{
        margin: 0 150px 0 28px;
    }
} */